/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 70vh; /* Ajusta el alto del formulario según tus necesidades */
  }
  
  .minimalist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .form-control {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
  }
  
  .btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .card {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
  